@import "tailwindcss";

@font-face {
  font-family: "Inter";
  font-weight: 100 800;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/inter.woff2") format("woff2");
}

:root {
  --background: #151413;
  --foreground: #dcdcdc;

  font-feature-settings: "cv02", "cv03", "cv04";
}

@theme inline {
  --font-inter: "Inter";
}

html {
  @apply font-inter antialiased;
}

body {
  background: var(--background);
  color: var(--foreground);
}
